@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --neon-blue: #0167A5;
  --tech-grey: #8C8C8C;
  --electric-cyan: #00ffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-blue: var(--neon-blue);
  --color-tech-grey: var(--tech-grey);
  --color-electric-cyan: var(--electric-cyan);

  --font-sans: var(--font-inter);
  --font-chakra: var(--font-chakra);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-chakra), sans-serif;
  overflow-x: hidden;
}